//==========Переменные цвета============


$white: #FCFCFC;

$platinum: #effaff;
$platinum--border: #e5e5e5;

$gray: #66666E;
$gray-trans: #66666e53;
$black: #000F08;

$berry: #881620;
$pacific-blue: #08A4BD;


$caramel: #C16200;
$caramel-trans: #c16100b1;
$berry: #881620;

//==========Анимации========

$bezier--base: cubic-bezier(0.4, 0, 0.2, 1);